@import './base.css';

#app {
  width: 100%;
  height: 100%;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.n-scrollbar-content {
  height: 100%;
}

.text-more {
  @apply text-ellipsis whitespace-nowrap overflow-hidden;
}

.sc-sidebar-fill {
  @apply bg-gray-100;
}

.sc-sidebar {
  .n-tabs-rail {
    @apply bg-gray-100 !important;
  }  
}

/* .sc-header {} */

.label-unread {
  @apply rounded-full bg-red-500 text-white text-xs px-1 py-0;
}